*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 100%;
}

body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 16px;
   
}
.error {
    color: red;
}
/*Navbar css starts here*/
.navigation_bar {
  height: 100%;
  min-width: 250px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #061C17;
  overflow: hidden; 
  padding-top: 40px;
}

.navigation_bar .logo_container {
  display: block;
  margin: 0px 32px;
}

.navigation_bar .naim_logo {
margin: auto;
display: block;
height: auto; 
max-width: 185px;
}

.navigation_bar .logo_initial {
color: #C5E5CC;
}

.navigation_bar .logo {
  font-size: 3rem;
  color: #4DAC62;
  font-weight: bold;
  font-family: "Bungee Hairline", Arial, Helvetica, sans-serif;
}

.navigation_bar .logo_tail {
text-align: right;
font-size: 0.75rem;
color: #C5E5CC;
font-weight: lighter;
font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.navigation_bar a {
  margin-top: 32px;
  padding-left: 32px;
  text-decoration: none;
  font-size: clamp(1.25rem, 1rem + 1vw, 1.563rem);
  color: #C5E5CC;
  display: block;
}

.navigation_bar .active_page {
  color: #4DAC62;
  text-decoration: none;
}

.navigation_bar i {
  margin-right: 30px;
  width: 15px;
}

.navigation_bar a:hover {
  text-decoration: none;
  color: #4DAC62;
}

.navigation_links_container{
  margin-top: 100px;
  max-height: 350px;
}

.fa-angle-right {
  padding-left: 80px;
}

.sub_menu {
 display: none;
 font-size: 1.25rem;
 padding-left: 57px;
}

@media screen and (max-height: 540px) {
  .navigation_bar {padding-top: 5px;}
  .navigation_bar a{font-size: 1.25rem;}
  .fa-angle-right {padding-left: 50px;}
  .navigation_links_container{margin-top: 10px;}
}
/*Navbar css ends here*/

  .content-container{
    margin-top: 20px;
    margin-left:300px;
  }

  header h1{
    margin: 10px;
    color: #061C17;
  }

  section{
      margin-left: 10px;
      margin-right: 50px;
  }

  .main_container{
      color:#061C17;
      font-size: 1rem;
      margin: 30px 0px;
      margin-left: auto;
      margin-right: auto;
  }

   .row-header{
      width: 300px;
  }

  .db_image{
      width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
  }

  div.waves {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 40%;
    background-image:url("../../images/waves.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  @media only screen and (min-width: 800px) {
    .main_container{font-size: 1.8rem;}
  }
  /*Navbar css ends here*/